.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-inline: 8rem;
    padding-block: 5rem;
}
.greetings-msg{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}.greetings-msg p{
    text-align: justify;
    font-size: 1.15rem;
    line-height: 2rem;
}
.greetings-title{
    display: flex;
    flex-direction: column;
}
.greetings-title h1{
    font-size: 4.5rem;
    font-weight: 200;
}.greetings-title span{
    font-weight: 900;
}

.greetings-img{
    max-width: 700px;
}


.media-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
}
.media-btn{
    color: var(--dark-color);
    padding: 0.75rem;
    padding-block: 0.5rem;
    font-size: 1.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-color);
    transition: .25s;
}
.media-btn:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1px solid var(--light-color);
    transition: .25s;
}

@media (max-width: 1500px) {
    .main-header{
        flex-direction: column;
        padding-inline: 5svw;
    }
    .media-icons{
        justify-content: end;
    }
}

@media (max-width: 750px){
    .main-header{
        padding-top: 7rem;
        padding-bottom: 1.5rem;
        overflow: hidden;
    }

    .greetings-msg{
        gap: 3rem;
    }
    .greetings-title h1{
        font-size: 3.25rem;
    }
    .greetings-img{scale: 1.1;}
}