.projects{
    padding-block: 2.5rem;
    padding-inline: 5rem;
}

.projects h1{
    font-size: 5.75rem;
    text-align: center;
    padding-bottom: 3.5rem;
    font-weight: 200;
}.projects span{
    font-weight: 900;
    text-decoration: underline;
}

.cards-slider{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
}

@media(max-width: 1470px) {
    .projects{
        padding-inline: 2.75rem;
    }
    .cards-slider{
        justify-content: center;
        column-gap: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .projects {
        padding-inline: 0.5rem;
    }
    .projects h1{
        font-size: 4.75rem;
    }
}

@media (max-width: 670px) {
    .projects {
        padding-inline: 1rem;
        padding-block: 1.8rem;
    }
    .projects h1{
        font-size: 4rem;
    }
    .cards-slider{
        gap: 1.5rem;
    }
}