.nav-top {
  padding-inline: 4rem;
  padding-block: 0.75rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-bottom: 1px solid var(--light-color);
  transition: top 0.3s ease-out;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top.hide {
  top: -80px;
}

.nav-top.show {
  top: 0;
}

.nav-top ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-top li {
  transition: .15s ease-out;
}

.nav-top li:hover {
  transition: .5s ease-in;
  scale: 1.25;
}

.nav-top li a {
  color: var(--light-color);
  text-decoration: none;
}

.nav-top li {
  transition: .15s;
}

.nav-top li:hover {
  transition: .3s;
  scale: 1.1;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: .25s;
  cursor: default;
  user-select: none;
}

.site-logo a { cursor: default; }

.site-logo h1 {
  font-family: 'Prata';
  font-style: italic;
  font-size: 1.75rem;
  margin-block: 0;
  font-weight: 500;
}

.site-logo:hover {
  scale: 1.07;
  transition: .25s;
}

.cv-button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: .65rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 1.25rem;
  text-decoration: none;
  padding: .6rem;
  border-radius: .5rem;
  font-weight: bold;
  transition: .5s;
}

.cv-button:hover {
  transition: .25s;
  color: var(--light-color);
  background-color: var(--dark-color);
  outline: 1px solid var(--light-color);
  box-shadow: 3px 3px 0px 0px var(--light-color);
}

@media (max-width: 1200px) {
  .nav-top {
    padding-inline: 2rem;
  }

  .cv-button {
    font-size: 1.1rem;
  }

  .site-logo h1 {
    display: none;
  }

  .sections-list li {
    display: none;
  }
}